@font-face {
  font-family: UTM_Avo;
  src: url(/assets/fonts/UTM_Avo.ttf); }

@font-face {
  font-family: UTM_Avo_Bold;
  src: url(/assets/fonts/UTM_Avo_Bold.ttf); }

@font-face {
  font-family: UTM_Avo_Italic;
  src: url(/assets/fonts/UTM_Avo_Italic.ttf); }

html,
body {
  width: 100%;
  height: 100%;
  font-family: UTM_Avo, sans-serif;
  font-size: 15px; }

*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#wrapper {
  height: 100%;
  width: 100%; }

#over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .8;
  z-index: 11; }

#header {
  height: 180px;
  width: 100%; }
  #header .logo {
    height: 120px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%; }
  #header .hotline {
    margin-top: 15px;
    background: yellow;
    line-height: 50px;
    font-family: sans-serif;
    font-size: 24px;
    position: relative; }
    #header .hotline:before {
      content: '';
      width: 0;
      height: 0;
      border: 25px solid yellow;
      border-left-color: transparent;
      position: absolute;
      margin-left: -50px; }
  #header .wrapper-menu {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    background: #E72E2E; }
    #header .wrapper-menu .select-mate {
      position: relative; }
      #header .wrapper-menu .select-mate select {
        height: 30px;
        width: 100%;
        margin-top: 10px;
        border: none;
        border-radius: 3px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; }
      #header .wrapper-menu .select-mate:after {
        content: '';
        width: 0;
        height: 0;
        border: 5px solid;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        margin-left: -15px;
        margin-top: 22.5px; }
    #header .wrapper-menu ul {
      margin: 0;
      background: #E72E2E;
      z-index: 1; }
      #header .wrapper-menu ul li {
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        float: left;
        list-style: none;
        line-height: 50px;
        padding: 0 20px;
        color: white; }
        #header .wrapper-menu ul li:hover {
          background: #CF0000; }
        #header .wrapper-menu ul li a {
          color: white;
          text-decoration: none; }
      #header .wrapper-menu ul .mdrop {
        position: relative; }
        #header .wrapper-menu ul .mdrop:hover .mdrop-menu {
          display: block; }
      #header .wrapper-menu ul .mdrop-menu {
        width: 100%;
        padding: 0;
        display: none;
        position: absolute;
        left: 0; }
        #header .wrapper-menu ul .mdrop-menu li {
          clear: both;
          width: 100%; }
    #header .wrapper-menu .active {
      background: #CF0000; }
  #header .breadcrum {
    height: 50px;
    background: #EAEAEA; }
    #header .breadcrum .active {
      font-weight: bold;
      text-decoration: none;
      color: #E4390A; }

#wrap-slide {
  margin: 0 auto;
  padding: 20px 30px;
  background: rgba(255, 255, 255, 0.7);
  filter: progid:DXImageTransform.Microsoft.Gradient( GradientType=1, StartColorStr='#99fffffff', EndColorStr='#99ffffff');
  border: 1px solid #ccc;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3); }

#slideshow {
  position: relative;
  width: 500px;
  height: 500px; }

#slideshow li img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; }

#slideshow li p {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 50px;
  color: #efefef;
  text-shadow: 0px 0px 2px #000;
  background: rgba(0, 0, 0, 0.3);
  filter: progid:DXImageTransform.Microsoft.Gradient( GradientType=1, StartColorStr='#70000000', EndColorStr='#70000000'); }

#slideshow li p span {
  padding: 5px 10px;
  display: block; }

#slideshow li p a {
  color: #efefef;
  text-decoration: none; }

#slideshow li p a:hover {
  color: #ffff00; }

#slideshow .current img, #slideshow .current p {
  z-index: 50; }

#next, #prev {
  position: absolute;
  top: 120px;
  width: 18px;
  height: 31px;
  z-index: 1000;
  text-indent: -99999px;
  cursor: pointer; }

#next {
  right: -25px;
  background: url(../images/next-arrow.svg) no-repeat 0 0; }

#prev {
  left: -25px;
  background: url(../images/prev-arrow.svg) no-repeat 0 0; }

#controlNav {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 5px; }

#controlNav a {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../images/bullets.png) no-repeat;
  cursor: pointer; }

.active {
  background-position: 0 -22px !important; }

#shopping-cart {
  position: fixed;
  width: 40px;
  height: 40px;
  background: #fff;
  box-shadow: 0 3px 5px #555;
  border-radius: 20px;
  top: 20px;
  right: 20px;
  background-image: url(/assets/images/cart-circle.png);
  background-position: center;
  background-size: 100% 100%;
  z-index: 1;
  cursor: pointer; }
  #shopping-cart .counter {
    background: #ff0000;
    height: 25px;
    width: 25px;
    line-height: 25px;
    border-radius: 12.5px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 12px;
    cursor: pointer; }

#up-arrow {
  position: fixed;
  width: 30px;
  height: 30px;
  background-image: url(/assets/images/up-arrow.svg);
  background-repeat: no-repeat;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  display: none; }

.cart {
  background: #fff;
  padding: 5px; }
  .cart-product, .cartPartial-product {
    margin-top: 30px;
    height: 240px;
    overflow: auto; }
    .cart-product .detail, .cartPartial-product .detail {
      position: relative;
      height: 60px;
      padding: 5px 0;
      border-bottom: 1px solid rgba(1, 0, 0, 0.2); }
      .cart-product .detail .name, .cartPartial-product .detail .name {
        display: block;
        line-height: 30px;
        padding: 0 10px;
        font-weight: 600;
        color: #e4390a;
        overflow: hidden;
        text-overflow: ellipsis; }
      .cart-product .detail .number, .cartPartial-product .detail .number {
        line-height: 30px;
        display: block;
        padding: 0 10px; }
      .cart-product .detail .thumb, .cartPartial-product .detail .thumb {
        float: left;
        width: 50px;
        height: 50px;
        background-image: none;
        background-position: center;
        background-size: 100% 100%; }
      .cart-product .detail .delete, .cartPartial-product .detail .delete {
        position: absolute;
        color: #fff;
        background: #ff0000;
        line-height: 10px;
        justify-content: center;
        text-align: center;
        width: 15px;
        height: 15px;
        border-radius: 7.5px;
        cursor: pointer;
        top: 50%;
        right: 0;
        margin-top: -7.5px;
        margin-right: 5px; }
      .cart-product .detail input, .cartPartial-product .detail input {
        border-radius: 4px;
        height: 20px;
        border: 1px solid #ccc;
        padding: 2px; }
  .cart-action, .cartPartial-action {
    height: 50px;
    line-height: 50px; }
    .cart-action span, .cartPartial-action span {
      font-size: 14px; }
    .cart-action button, .cartPartial-action button {
      float: right;
      height: 40px;
      padding: 0 5px;
      line-height: 40px;
      border-radius: 4px;
      background-color: #ff2222;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      border: 0;
      margin: 2px 5px; }
      .cart-action button:hover, .cartPartial-action button:hover {
        background-color: #ff0000; }

.cartPartial {
  position: fixed;
  width: 600px;
  height: 320px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 5px #555;
  z-index: 111;
  padding: 5px;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -300px; }
  .cartPartial-product {
    margin-top: 30px;
    width: 590px;
    height: 240px;
    overflow: auto; }

#content {
  padding: 20px 0;
  background-image: url(/assets/images/bg.png);
  background-repeat: repeat; }

.field-validation-error {
  color: #f00;
  font-size: 12px;
  display: block; }

.validation-summary-errors ul, .validation-summary-errors li {
  list-style: none;
  color: #f00; }

.info {
  background: #fff !important;
  height: 100%; }

.fx {
  height: 100%;
  margin: 20px 0; }

.pd {
  padding: 10px; }

.title {
  font-family: UTM_Avo_Bold;
  line-height: 50px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  background: #E4390A;
  margin: 5px 0; }

.error {
  font-size: 16px;
  text-align: center;
  width: 100%;
  background: #fff;
  padding: 10px 5px;
  color: #f00; }

.paging {
  display: block;
  justify-content: center;
  text-align: center;
  background: #fff; }
  .paging .page {
    border: 1px solid #1200ff;
    padding: 5px 15px;
    margin: 0 10px;
    line-height: 50px; }
    .paging .page a {
      color: blue; }
    .paging .page a:hover {
      text-decoration: none; }
  .paging .active {
    background: #000dff;
    color: white; }

.loading {
  display: none; }
  .loading img {
    width: 32px;
    height: 32px; }

.detail {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid rgba(255, 125, 0, 0.51); }

.ul-admin li {
  line-height: 50px;
  list-style: none; }

.product {
  margin-bottom: 10px; }
  .product-thumb {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: none;
    background-size: 100% 100%;
    background-position: center;
    transition: all 0.1s ease-in; }
    .product-thumb:hover {
      background-size: 110% 110%; }
    .product-thumb:hover .action {
      display: block; }
    .product-thumb .action {
      font-family: UTM_Avo_Bold;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -20px;
      margin-left: -80px;
      display: none; }
      .product-thumb .action a {
        text-decoration: none;
        font-size: 14px;
        color: #E4390A; }
      .product-thumb .action .buy-now {
        background: #fff;
        width: 120px;
        height: 40px;
        margin: 0;
        border: 0; }
      .product-thumb .action .add-cart {
        background: orange;
        width: 40px;
        height: 40px;
        margin: 0;
        border: 0; }
  .product .edit-thumb {
    position: relative;
    background-image: none;
    background-size: 100% 100%;
    background-position: center;
    margin: 10px; }
    .product .edit-thumb .delete {
      position: absolute;
      top: -5px;
      right: -5px;
      background: white;
      width: 15px;
      height: 15px;
      border-radius: 7.5px;
      justify-content: center;
      text-align: center;
      padding: 0;
      line-height: 13px; }
  .product-name {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #E5390A;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(231, 100, 24, 0.3); }
    .product-name a {
      color: #E5390A;
      text-decoration: none;
      text-transform: capitalize; }
  .product .lg {
    font-size: 32px; }
  .product-desc {
    font-family: arial;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px; }
  .product-price {
    height: 40px;
    font-family: sans-serif;
    font-size: 20px;
    height: 60px;
    white-space: nowrap; }
    .product-price .pre-price {
      font-weight: normal;
      font-size: 14px;
      display: block; }
      .product-price .pre-price span {
        text-decoration: line-through; }
    .product-price .price {
      display: block;
      color: #ff1000; }
  .product-sale {
    background: #ff0000;
    position: absolute;
    top: 0;
    right: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px; }
    .product-sale .sale {
      line-height: 20px;
      position: relative;
      text-align: center;
      color: #fff; }
      .product-sale .sale:after {
        content: '';
        left: 0;
        position: absolute;
        border: 10px solid transparent;
        border-right: 10px solid #ff0000;
        margin-left: -20px; }
  .product-number {
    color: #E5390A; }
    .product-number input {
      height: 30px;
      width: 200px; }
  .product-buy button {
    background: orange;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin: 20px 0;
    border: 0; }
    .product-buy button:hover {
      color: #fff; }

.slide-image {
  width: 100%;
  height: 100%;
  background-image: none;
  background-size: 100% 100%;
  background-position: center; }

.description ul {
  height: 52px;
  border-bottom: 1px solid #ccc; }
  .description ul li {
    line-height: 50px;
    list-style: none;
    float: left;
    font-size: 20px;
    padding: 0 20px;
    color: #E5390A;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #ccc;
    border-bottom-color: #fff; }

.description .detail-product {
  clear: both;
  padding: 10px; }

.description .comment {
  clear: both;
  padding: 10px; }

.checkout .payment-type {
  position: relative;
  display: block;
  border: 1px solid #ccc;
  margin: 5px 0;
  border-radius: 4px;
  height: 60px;
  cursor: pointer; }
  .checkout .payment-type:hover {
    background: #ccc; }
  .checkout .payment-type input[type=radio] {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 40px; }
    .checkout .payment-type input[type=radio]:checked + span {
      color: #f00;
      font-weight: bold; }
  .checkout .payment-type span {
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    left: 40px;
    margin-top: -12px; }

.checkout .confirm {
  margin: 10px;
  font-size: 16px;
  text-align: center; }
  .checkout .confirm button {
    border: 0;
    border-radius: 4px;
    line-height: 40px;
    color: #fff;
    background: #00a012;
    margin: 5px 0; }
    .checkout .confirm button:hover {
      background: #006805; }

.my-form label {
  display: block; }

.my-form input, .my-form select {
  display: block;
  height: 40px;
  width: 100%;
  max-width: 600px;
  padding: 0 4px; }

.my-form button {
  border: 0;
  border-radius: 4px;
  line-height: 40px;
  color: #fff;
  background: #f00;
  margin: 5px 0;
  display: block;
  clear: both; }
  .my-form button:hover {
    background: #a00; }

table tr th {
  padding: 10px; }

table tr td {
  padding: 10px; }

#footer {
  height: 300px;
  width: 100%;
  background: #222222;
  bottom: 0; }
  #footer .contact {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    margin: 2px;
    border-bottom: 2px solid orange; }
  #footer .c-text {
    font-family: sans-serif;
    font-size: 15px;
    color: #ccc; }
    #footer .c-text i {
      color: white; }

.copyright {
  background: #000;
  height: 50px;
  width: 100%; }

