@{
    ViewBag.Title = "Chính sách vận chuyển";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
<div class="container">
    <div class="row info">
        <div class="title">Chính sách vận chuyển</div>
        <div class="col-md-12">
            @using (Html.BeginForm("/HomeView/VanChuyen", "HomeView", FormMethod.Post, new { @class = "my-form"
            }))
            {

            }

        </div>
    </div>
</div>
